$white: #fff;
$black: #000;
$grey: #d5d5d5;
$light-grey: #efefef;

/* Bar Graph Backgrounds */

$benefits: #9470fa;
$signOnBonus: #6cbdd4;
$targetBonus: #4f859d;
$equity: #f1a627;
$baseSalary: #0b8f73;
