.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-jsb {
  justify-content: space-between;
}

.flex-jsa {
  justify-content: space-around;
}
