@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/* header */

.header {
  .header-title {
    margin-bottom: 10px;
  }
}

/* main section */

.main-section {
  height: 600px;

  .menu {
    border: 1px solid $grey;
    border-radius: 10px;
    width: 25%;

    .dropdown {
      width: 100%;
      border: 1px solid $grey;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }

  .graph {
    width: 60%;
    position: relative;

    .compensation {
      position: absolute;
      right: 37px;
      color: $dark-grey;
      background-color: $white;
      border: 1px solid $grey;
      border-radius: 5px;
      box-shadow: #0000001a 0 1px 2px 0;
    }

    .bar {
      width: 120px;
      align-self: flex-end;

      .benefits {
        background-color: $benefits;
        border-radius: 10px 10px 0 0;
      }

      .target {
        background-color: $targetBonus;
      }

      .sign-on {
        background-color: $signOnBonus;
      }

      .equity {
        background-color: $equity;
      }

      .base-salary {
        background-color: $baseSalary;
        border-radius: 0 0 10px 10px;
      }

      .year {
        padding-bottom: 0;
      }
    }
  }

  .modal {
    width: 600px;
    height: 400px;
    border-radius: 5px;
    box-shadow: #00000029 0 1px 4px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: none;

    &.is-open {
      display: block;
    }

    .modal-close {
      position: absolute;
      right: 10px;
      top: 10px;
      border: none;
      background: none;
      color: $dark-grey;
    }
  }
}
